/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
{
    display: block;
}
body
{
    line-height: 1;
}
ol, ul
{
    list-style: none;
}
blockquote, q
{
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after
{
    content: '';
    content: none;
}
table
{
    border-collapse: collapse;
    border-spacing: 0;
}
/*CSS RESET END__________________________________________________________________________________________________________________________________*/
/*ALL*/
*
{
    line-height: 120%;
    text-align: justify;
}
/*BODY*/
body
{
    background: #FFFFFF url('pics/black_pattern.jpg') repeat center fixed;
}
/*CONTAINER*/
#container
{
    width: 1200px;
    margin: 10px auto;
}
/*HEADER*/
header
{
    width: 1200px;
    height: 100px;
    background-image: url(pics/quizlogo.png);
    background-repeat: no-repeat;
}
/* NAVIGATION */
#nav, #quizmenu
{
    height: 100px;
}
#nav
{
    float: right;
}
#quizendmenu
{
    width: 775px;
    margin-top: 40px;
}
#categories
{
    float: left;
}
/*MENUBUTTONS (http://www.dynamicdrive.com/style/csslibrary/item/css3_gradient_menu_buttons/)*/
#categories a, #sortbuttons a, #questiontext a, #nextbutton a, #quizendmenu a
{
    height: 20px;
    display: block;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    font-size: 100%;
    text-align: center;
    text-decoration: none;
}
#categories a:hover
{
    background: -moz-linear-gradient(center top, #7ad690, #3ec05c 25%, #298a40 45%, #3ec05c 85%, #7ad690);
    background: -webkit-gradient(linear, center top, center bottom, from(#7ad690), color-stop(25%, #3ec05c), color-stop(45%, #298a40), color-stop(85%, #3ec05c), to(#7ad690));
    background-color: #298a40;
}
#categories .active a
{
    background: -moz-linear-gradient(center top, #7ad690, #3ec05c 25%, #298a40 45%, #3ec05c 85%, #7ad690);
    background: -webkit-gradient(linear, center top, center bottom, from(#7ad690), color-stop(25%, #3ec05c), color-stop(45%, #298a40), color-stop(85%, #3ec05c), to(#7ad690));
    background-color: #298a40;
}
#sortbuttons a, #questiontext a, #nextbutton a, #quizendmenu a
{
    padding: 10px 0px 10px 0px;
    background-color: #817dda;
    color: #000000;
    -webkit-box-shadow: 3px 3px 3px #333;
    -moz-box-shadow: 3px 3px 3px #333;
    box-shadow: 3px 3px 3px #333;
}
#sortbuttons a:hover, #questiontext a:hover, #nextbutton a:hover, #quizendmenu a:hover
{
    background-color: #6cd7af;
}
/*Categories, Quizendmenu (http://www.dynamicdrive.com/style/csslibrary/item/css3_gradient_menu_buttons/)*/
#categories, #categories li, #quizendmenu li
{
    width: 150px;
}
#categories li, #quizendmenu li
{
    margin-top: 5px;
}
#quizendmenu li
{
    margin-left: 5px;
    float: right;
}
#categories a
{
    padding: 5px 7px 5px 7px;
    border: 2px solid gray;
    background: -moz-linear-gradient(center top, #a4ccec, #72a6d4 25%, #3282c2 45%, #357cbd 85%, #72a6d4);
    background: -webkit-gradient(linear, center top, center bottom, from(#a4ccec), color-stop(25%, #72a6d4), color-stop(45%, #3282c2), color-stop(85%, #357cbd), to(#72a6d4));
    background-color: #3282c2;
    color: #FFFFFF;
    font-family: "Cooper Std Black" , Serif;
}
/*Sortbuttons, Questiontext, Nextbutton*/
#sortbuttons
{
    width: 320px;
    height: 60px;
}
#sortbuttons a
{
    float: right;
    width: 150px;
    margin: 0px 10px 0px 0px;
}
#questiontext a, #nextbutton a
{
    width: 400px;
    margin-top: 10px;
    margin-left: 20px;
}
/*LINKS*/
/*Quizzes, Answertext*/
#quizzes a, #answertext a
{
    color: Blue;
}
#answertext
{
    padding-bottom: 30px;
}
#quizzes a:hover, #answertext a:hover
{
    color: Purple;
}
#quizzes a:visited, #answertext a:visited
{
    color: Purple;
}
#quizzes a:focus, #answertext a:focus
{
    color: Red;
}
/*CONTENT*/
#content, #contentheight
{
    width: 960px;
    padding: 30px;
    background-color: #FFFFFF;
    -moz-border-radius: 1.6em;
    -webkit-border-radius: 1.6em;
    border-radius: 1.6em;
    -moz-box-shadow: inset 0 0 30px #000000;
    -webkit-box-shadow: inset 0 0 30px #000000;
    box-shadow: inset 0 0 30px #000000;
    margin: 7px 0px 7px 180px;
    overflow: auto;
}
#contentheight
{
    height: 430px;
}
/*TEXT*/
#content h1, h2, #contentheight h1, h2
{
    font-family: "Cooper Std Black" , Serif;
    font-weight: bold;
}
#content a, #contentheight a, p, #quizzes p, #quiz p, #answertext a, p, #commentdiv p, dt, #ratingdiv p, #statdiv p, #statsul, #starttext p
{
    font-family: "Franklin Gothic" , Sans-Serif;
    font-weight: bold;
    line-height: 120%;
}
#commentdiv dt
{
    font-style: italic;
    width: 896px;
    padding: 10px;
    margin-top: 5px;
    border: 2px solid;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    margin-left: 20px;
}
#commentdiv dd
{
    font-family: "Franklin Gothic" , Sans-Serif;
    font-weight: normal;
    line-height: 120%;
    font-style: normal;
    margin-left: 20px;
}
#quiz h1, p, #question h1, h2, p, #answertext a, p, #commentdiv h1, p, #ratingdiv h1, p, #statdiv h1, p, #statsul, #starttext h1, p
{
    padding: 20px;
}
#statsul li
{
    padding-top: 10px;
}
#quizzes
{
    margin-top: 15px;
}
/*FORMS*/
#commentform, #ratingform
{
    width: 500px;
    padding: 20px;
}
#fieldsetcomments, #fieldsetrating
{
    width: 500px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 7px 7px 7px #333;
    -moz-box-shadow: 7px 7px 7px #333;
    box-shadow: 7px 7px 7px #333;
    margin: 10px 0px 10px 0px;
    background-color: #817dda;
}
#commentform legend
{
    visibility: hidden;
}
#ratingform legend
{
    padding: 15px;
    padding-bottom: 25px;
    font-family: "Cooper Std Black" , Serif;
    font-weight: bolder;
    font-size: 150%;
}
#commentform label
{
    width: 170px;
    display: block;
    padding-right: 10px;
    text-align: right;
    clear: left;
    font-family: "Franklin Gothic" , Sans-Serif;
    font-weight: bold;
    float: left;
}
#commentform .textarea, #commentform .textbox
{
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    width: 300px;
    margin-bottom: 20px;
    border: 1px solid;
}
#commentform .textarea
{
    height: 100px;
}
#radiobuttons
{
    padding-bottom: 20px;
    padding-left: 10px;
    font-family: "Franklin Gothic" , Sans-Serif;
    font-weight: bold;
}
#commentform .formbutton, #ratingform .formbutton
{
    height: 40px;
    margin-left: 402px;
    margin-top: 20px;
    text-align: center;
    width: 100px;
    -webkit-box-shadow: 3px 3px 3px #333;
    -moz-box-shadow: 3px 3px 3px #333;
    box-shadow: 3px 3px 3px #333;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    font-size: 100%;
    background-color: #817dda;
    color: #000000;
    font-family: "Franklin Gothic" , Sans-Serif;
    font-weight: bold;
    line-height: 120%;
}
#commentform .formbutton:hover, #ratingform .formbutton:hover
{
     background-color: #6cd7af;
}
.transparent
{
    opacity: 0.2;
    height: 40px;
    margin-left: 402px;
    margin-top: 20px;
    text-align: center;
    width: 100px;
    -webkit-box-shadow: 3px 3px 3px #333;
    -moz-box-shadow: 3px 3px 3px #333;
    box-shadow: 3px 3px 3px #333;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    font-size: 100%;
    background-color: #817dda;
    color: #000000;
    font-family: "Franklin Gothic" , Sans-Serif;
    font-weight: bold;
    line-height: 120%;
}
.transparent:hover
{
    background-color: #817dda;
}
/*FOOTER*/
footer
{
    padding: 10px 10px 10px 10px;
    text-align: left;
    font-size: 100%;
    font-family: "Franklin Gothic" , Sans-Serif;
    clear: both;
    background-color: #3282c2;
    color: #FFFFFF;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: inset 0 0 15px #000000;
    -webkit-box-shadow: inset 0 0 15px #000000;
    box-shadow: inset 0 0 15px #000000;
}
/*Gömd klass*/
.hidden
{
    display: none;
}